<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="jiang.luo.travelsystem.mapper.OrderInfoMapper">

    <resultMap id="BaseResultMap" type="jiang.luo.travelsystem.pojo.OrderInfo">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="deposit" column="deposit" jdbcType="FLOAT"/>
            <result property="applyBookId" column="apply_book_id" jdbcType="INTEGER"/>
            <result property="totalPrice" column="total_price" jdbcType="FLOAT"/>
            <result property="depositStatus" column="deposit_status" jdbcType="INTEGER"/>
            <result property="cancelStatus" column="cancel_status" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,deposit,apply_book_id,
        total_price,deposit_status,cancel_status
    </sql>
</mapper>
